{{#each ideas}}
    <div class="card card-body mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block mb-2">Edit Ideas</a>
        <form method="post" action="/ideas/{{id}}?_method=DELETE">
            <input type="hidden" value="DELETE" name="_method">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form>
    </div>  
{{else}}

<p>No record found</p>
{{/each}}
